<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clear_Blog</h1>
          <span class="subheading">Welcome to my firs project on RoR</span>
        </div>
      </div>
    </div>
  </div>
</header>
